@model EncarnacionCoop.Entities.ClientInfo
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/view.css">

<div class="container">
<h1>View User Info</h1>
<a class="btn btn-primary" href="@Url.Action("Index")">Go Back</a>
<div class="acrylic-container mt-5">
    <div class="acrylic-content">
      <div class="card">
        <label for="name">Name</label>
        <h1>@Model.FirstName @Model.MiddleName @Model.LastName</h1>
        <label for="usertype">Usertype</label>
          <h3> @Model.UserType</h3>
          <label for="">Address</label>
          <p asp-for="Address">@Model.Address</p>
          <label for="">ZipCode</label>
          <p asp-for="ZipCode">@Model.ZipCode</p>
          <label for="">Father's Name</label>
          <p asp-for="NameOfFather">@Model.NameOfFather</p>
          <label for="">Mother's Name</label>
          <p asp-for="NameOfMother">@Model.NameOfMother</p>
          <label for="">Birthday</label>
          <p asp-for="Birthday">@Model.Birthday</p>
          <label for="">Age</label>
          <p asp-for="Age">@Model.Age</p>
          <label for="">Civil Status</label>
          <p asp-for="CivilStatus">@Model.CivilStatus</p>
          <label for="">Religion</label>
          <p asp-for="Religion">@Model.Religion</p>
        </div>
</div>
</div>
</div>